
// Search Results Header
.sr-header
  padding: 0 0 1em
  margin: 1em 0 1.5em
  color: #aaa
  border-bottom: 3px double #eee
  strong
    color: #333


// Search Results
.sr-module
  width: 70%
  float: left

.sr-list
  padding: 0
  margin: 0
  list-style: none inside

.sr-item
  margin: 0 0 2em
  word-break: break-all
  overflow: auto
  position: relative


// Search Results Message

.results-message
  margin: 2em 0
  padding: 1em 
  background: #fbfbfb
  color: #999
  .results-loading
  .results-loaded
  .results-none

