<div class="sr-input">
  {{view SgApp.searchInput}}
</div>

<div class="sr-module">
  {{view SgApp.results}}
</div>

<div class="sf-module">
  
  {{!--

    If you have defined any facet categories add them below.
    For example: 
    `{{view SgApp.facetGroup1}}`

  --}}

</div>